# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [4]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [6]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2019-06-03 17:44:57--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.47.11, 104.25.46.11, 2606:4700:20::6819:2f0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2019-06-03 17:44:57--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  50.1MB/s    in 0.5s

2019-06-03 17:44:58 (50.1 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2019-06-03 17:44:58--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.25.47.11, 104.25.46.11, 2606:4700:20::6819:2f0b, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.25.47.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M  56.6MB/s    in 0.8s

2019-06-03 17:44:59 (56.6 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [7]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [8]:
%sql $conn_string

'Connected: student@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [9]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
    
    
)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [11]:
%%sql 
COPY customer_reviews_row from '/tmp/customer_reviews_1998.csv' WITH  CSV;
COPY customer_reviews_row from '/tmp/customer_reviews_1999.csv' WITH  CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [12]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [13]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
    
    
)
-------------
-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [14]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [22]:
%%time
%%sql
SELECT *
FROM customer_reviews_row
LIMIT 5
;

 * postgresql://student:***@127.0.0.1:5432/reviews
5 rows affected.
CPU times: user 2.76 ms, sys: 0 ns, total: 2.76 ms
Wall time: 4.46 ms

[('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 10, 0, '1551803542', 'Start and Run a Coffee Bar (Start & Run a)', 11611, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 9, 0, '1551802538', 'Start and Run a Profitable Coffee Bar', 689262, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('ATVPDKIKX0DER', datetime.date(1995, 6, 19), 4, 19, 18, '0898624932', 'The Power of Maps', 407473, 'Book', 'Nonfiction', 'Politics', ['0226534219', '0226534170', '1931057001', '0801870909', '157230958X']),
 ('AH7OKBE1Z35YA', datetime.date(1995, 6, 23), 5, 4, 4, '0521469112', 'Invention and Evolution', 755661, 'Book', 'Science', 'General', ['1591391857']),
 ('ATVPDKIKX0DER', datetime.date(1995, 7, 14), 5, 0, 0, '0679722955', 'The Names (Vintage Contemporaries (Paperback))', 264928, 'Book', 'Literature & Fiction', 'General', ['0140152741', '0679722947', '0140156046', '0679722939', '0679722920'])]

In [61]:
%%time
%%sql

SELECT review_rating, product_title
FROM customer_reviews_row
WHERE CAST(review_date AS TEXT) LIKE '1995-%'
ORDER BY review_rating DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.39 ms, sys: 86 µs, total: 4.47 ms
Wall time: 891 ms

[(5, 'Coaching Volleyball Successfully'),
 (5, 'The Names (Vintage Contemporaries (Paperback))'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'Fingerprints of the Gods (Alternative History)'),
 (5, 'Heavy Light'),
 (5, "Albion's Seed"),
 (5, 'Invention and Evolution'),
 (5, 'Fingerprints of the Gods '),
 (5, 'A Swiftly Tilting Planet (Yearling Books)'),
 (5, 'The Great Hunt '),
 (5, 'The Great Hunt '),
 (5, 'The Great Hunt (The Wheel of Time, Book 2)'),
 (5, 'The Great Hunt (Wheel of Time (Audio))'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet (Yearling Books)'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'Wonderful Life')]

 Then on `customer_reviews_col`:

In [62]:
%%time
%%sql
SELECT review_rating, product_title
FROM customer_reviews_col
WHERE CAST(review_date AS TEXT) LIKE '1995-%'
ORDER BY review_rating DESC
LIMIT 20;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 4.46 ms, sys: 0 ns, total: 4.46 ms
Wall time: 938 ms

[(5, 'Coaching Volleyball Successfully'),
 (5, 'The Names (Vintage Contemporaries (Paperback))'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'Fingerprints of the Gods (Alternative History)'),
 (5, 'Heavy Light'),
 (5, "Albion's Seed"),
 (5, 'Invention and Evolution'),
 (5, 'Fingerprints of the Gods '),
 (5, 'A Swiftly Tilting Planet (Yearling Books)'),
 (5, 'The Great Hunt '),
 (5, 'The Great Hunt '),
 (5, 'The Great Hunt (The Wheel of Time, Book 2)'),
 (5, 'The Great Hunt (Wheel of Time (Audio))'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet (Yearling Books)'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'A Swiftly Tilting Planet'),
 (5, 'Wonderful Life')]

## Conclusion: We can see that the columnar storage is faster!