# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions 
spark = SparkSession \
    .builder \
    .appName("Data wrangling with Spark SQL") \
    .getOrCreate()

path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)
user_log.createOrReplaceTempView("user_log_table")

# Question 1

Which page did user id ""(empty string) NOT visit?

In [7]:
# TODO: write your code to answer question 1
spark.sql('''
            SELECT DISTINCT page
            FROM user_log_table
            WHERE page NOT IN (SELECT DISTINCT page
                    FROM user_log_table
                    WHERE userId = ''
                    )
        ''').show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|       Downgrade|
|          Logout|
|   Save Settings|
|        Settings|
|        NextSong|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [9]:
# TODO: write your code to answer question 3
spark.sql('''
            SELECT count(DISTINCT userId ) as count
            FROM user_log_table
            WHERE gender = 'F'
        ''').show()

+-----+
|count|
+-----+
|  462|
+-----+

+--------+-----+
|  artist|count|
+--------+-----+
|Coldplay|   83|
+--------+-----+

# Question 4

How many songs were played from the most played artist?

In [16]:
# TODO: write your code to answer question 4
spark.sql('''
            SELECT artist, COUNT(*) AS count
            FROM user_log_table
            WHERE page = 'NextSong'
            GROUP BY artist
            ORDER BY count desc
            limit 1
        ''').show()

+--------+-----+
|  artist|count|
+--------+-----+
|Coldplay|   83|
+--------+-----+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5